body {
    font-family: 'Courier New', monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #333;
    color:  #fffefe;
}

header {
    background: #cefc8e;
    color: #fffefe;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    background: #cefc8e;
    overflow: hidden;
    color: #fffefe;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background: #666666;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

section {
    margin: 20px 0;
}

video {
    display: block;
    margin: 0 auto;
}

a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }