body {
    font-family: 'Courier New', monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #333;
    color:  #f9f9f9;
}

header {
    background: #445e1b;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    background: #445e1b;
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

section {
    margin: 20px 0;
}

video {
    display: block;
    margin: 0 auto;
}
