body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background: #004080;
    color: white;
    padding: 1em 0;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

section {
    margin: 20px 0;
}

video {
    display: block;
    margin: 0 auto;
}

#wordCountDisplay {
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #f1f1f1;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%; /* Changed width to 100% for better alignment */
    margin: 20px 0;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Adjusted color for a softer look */
}

tr:nth-child(odd) {
    background-color: #ffffff; /* Ensures alternating row colors */
}

p.ex1P {
    margin-left: 250px;
    text-align: justify; /* Ensures proper alignment with justified text */
}
